#root {
  margin-top: 0.3em;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #ccffff;
  min-height: 100vh;
  width: 100vw;
  margin: auto;
}

.MainPage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.NavBar {
  display: flex;
  flex: 0.01;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 60px;
  width: 100vw;
  font-family: 'Amatic SC', cursive;
  color: #1b313c;
}

.LogoDiv {
  height: 50px;
  font-size: 40px;
}

.LogoDiv h3 {
  margin: 0;
  padding-left: 10px;
}

.Logo {
  max-height: 100%;
  margin-left: 10px;
}

.ProfPic {
  height: 50px;
  margin-right: 20px;
}

.UserNav {
  display: flex;
  align-items: center;
}

.FlatButton:hover {
  cursor: pointer;
}

.Login {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
}

.Welcome span {
  color: #1b313c;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  padding: 10px;
  text-align: center;
}

.LoginText {
  text-align: center;
  padding-bottom: 30px;
}

.EventList {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

.EventList a {
  text-decoration: none;
}

.Event {
  display: flex;
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  color: #1b313c;
}

.EventInfo {
  margin-left: 20px;
}

.EventImg {
  height: 110px;
  width: 110px;
}

.stack {
  display: flex;
  width: 300px;
  margin: 100px auto;
}

.Card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 15px;
  height: 400px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  color: #1b313c;
}

.Card:hover {
  cursor: pointer;;
}

.CardImage {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}
