#root {
  margin-top: 0.3em;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #fadf71  ;
  min-height: 100vh;
  width: 70vw;
  margin: auto;
}

.MainPage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.NavBar {
  display: flex;
  flex: 0.01;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 60px;
  width: 70vw;
}

.LogoDiv {
  height: 50px;
}

.Logo {
  max-height: 100%;
}

.ProfPic {
  height: 50px;
}

.UserNav {
  display: flex;
  align-items: center;
}

.FlatButton:hover {
  cursor: pointer;
}

.Login {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

.EventList {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

.EventList a {
  text-decoration: none;
}

.Event {
  display: flex;
  background-color: white;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  color: #70d0cc;
}

.EventInfo {
  margin-left: 20px;
}

.EventImg {
  height: 110px;
  width: 110px;
}

.stack {
  display: flex;
  width: 300px;
  margin: 100px auto;
}

.Card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 15px;
  height: 400px;
  width: 300px;
}

.Card:hover {
  cursor: pointer;;
}

.CardImage {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}
