#root {
  margin-top: 0.3em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fadf71  ;
  min-height: 100vh;
  width: 70vw;
  margin: auto;
}

.MainPage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.NavBar {
  display: flex;
  flex: 0.01;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 60px;
  width: 70vw;
}

.LogoDiv {
  height: 50px;
}

.Logo {
  max-height: 100%;
}

.UserNav {
  display: flex;
  align-items: center;
}

.FlatButton:hover {
  cursor: pointer;
}

.Login {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

.EventList {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

.Event {
  display: flex;
  background-color: white;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #70d0cc;
}

.EventInfo {
  margin-left: 20px;
}

.EventImg {
  width: 12%;
}

.UserCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.Img {
  height: 400px;
  width: 400px;
  background-color: skyblue;
}

.UserInfo {
  margin: 30px;
}

.Connect {
  display: flex;
  justify-content: space-around;
}

.No, .Yes {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 100px;
  margin-right: 100px;
}

.No {
  background-color: red;
}

.Yes {
  background-color: Green;
}
